<div class="questionnairesBg">
    <div class="buttonBg">
      <button><li class="nav" [routerLink] = "['/questionnaires']"></li>Build new questionnaire</button>
      <button><li class="nav" [routerLink] = "['/questionnaires']"></li>Build new questionnaire</button>
    </div>
    <div class="listview">
      <table>
        <tr>
          <th class=headerleft>Company</th>
          <th>Contact</th>
          <th class=headerright>Sector</th>
        </tr>
        <tr>
          <td>AS Todin</td>
          <td>Maria Anders</td>
          <td>Health</td>
        </tr>
        <tr>
          <td>Centro Banko Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Banking</td>
        </tr>
      </table>
    </div>
 </div>