@import "../../../globals.scss";

.background{
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 100px; 

    .registerForm{
        float: left;
        width: calc(50% - 20px);
        height: 100%;
        padding: 20px 15px;
        border-radius: $cardBorderRadius;
        background-color: #333;
        font-size: 18px;
    
        .heading{
            color: white;
            margin-bottom: 25px;
            font-weight: 500;
        }

        .error-label{
            margin: 10px;
            display: block;
            width: calc(100% - 20px);
            background: rgba(0,0,0,0.5);
            color: red;
            border-radius: $borderRadius;
            padding: 5px;
            font-size: 12px;
            min-height: 30px;
            font-weight: 300;
        }

        .message{
            color: white;
            text-align: center;
        }

        #buttonfriends{
            width: 100%;
        }
    }

        input{
            width: calc(50% - 20px);
            padding: 10px;
            outline: none;
            border: none;
            margin: 10px;
            border-radius: $borderRadius;
            min-height: 44px;
            font-size: 1.1vw;
        }
    
        button{
            display: inline-block;
            width: calc(50% - 20px);
            margin: 10px;
            min-height: 44px;
            border-radius: $borderRadius;
            outline: none;
            border: none;
            background: rgba(171, 248, 156, 0.3);
            color: #dddddd;
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;
            position: relative;
            bottom: 0px;
        }

        button:hover {
            cursor: pointer;
            background: rgba(171, 248, 156, 0.7);
        }

        button.searchbutton{
            display: inline-block;
            padding: 10px;
            outline: none;
            margin: 10px;
            min-height: 44px;
            font-size: 1.1vw;
        }

        //table css
        table {
            float: right;
            border-collapse: collapse;
            border-radius: $cardBorderRadius;
            border-style: hidden;    
            width: calc(50% - 20px);
            font-size: 18px;
            padding: 15px 15px;
            min-height: 300px;
            background-color: white;
        }
        
        .tabletitle {
            border-bottom: 1px solid $frenchgrey;
        }

        .searchrow{
            background: $black;
            border-collapse: collapse;
            border-top-right-radius: $cardBorderRadius;
            border-top-left-radius: $cardBorderRadius;
        }

        input.formsearch{
            display: inline-block;
            padding: 10px;
            width: calc(50% - 20px);
            outline: none;
            background: white;
            font: #333;
            margin: 10px;
            min-height: 34px;
        }

        td, th {
            text-align: left;
            padding: 5px 15px;
            min-height: 30px;
        }
        

}
