<div class="registerBg">
    <div class="registerForm">
        <div class="textCenter heading">New User Details</div>

        <input type="text" class ="firstname" placeholder="firstname" [(ngModel)] = "firstname" (keyup)="fieldChange()" />
        <input type="text" class="lastname" placeholder="lastname" [(ngModel)] = "lastname" (keyup)="fieldChange()" />
        <input type="text" class="username" placeholder="username" [(ngModel)] = "username" (keyup)="fieldChange()" />
        <input type="password" class="password" placeholder="password" [(ngModel)] = "password" (keyup)="fieldChange()" />
        <input type="text" class="emailaddress" placeholder="email address" [(ngModel)] = "emailaddress" (keyup)="fieldChange()" />
        <input type="text" class="companyname" placeholder="Company Name" [(ngModel)] = "companyname" (keyup)="fieldChange()" />
        <span class="error-label textCenter" [ngClass]="(error=='')?'hidden':''">{{error}}</span>
        <button class="register" (click)="register()">Add User</button>
    </div>

    <div class="listview">
      <table>
        <colgroup>
          <col class="column1">
          <col class="column2">
        </colgroup>
        <tr>
          <th colspan="2" class="tabletitle">Company Profile</th>
        </tr>
        <tr>
          <th>Name:</th>
          <td></td>
        </tr>
        <tr>
          <th>Address:</th>
          <td></td>
        </tr>
        <tr>
          <th>Sector:</th>
          <td></td>
        </tr>
        <tr>
          <th>Primary Contact:</th>
          <td></td>
        </tr>
        <tr>
          <th>Company Contact</th>
          <td></td>
        </tr>
      </table>
    </div>
    
</div>