<div class="background">
    <table>
        <tr>
            <th id="leftcell" class=headerleft>Vendors</th>
            <th id="middlecell">-numberofvendors-</th>
            <th id="rightcell" class=headerright>Questionnaire Status</th>
        </tr>
        <tr>
            <th id="leftcell">Users</th>
            <th id="middlecell">{{userCount}}</th>
<!-- Pie chart forked from stabkblitz: https://stackblitz.com/edit/typescript-pie-chart-bfuqbx -->
            <td rowspan="3">
                <canvas class="pieChart"></canvas>        
                <canvas class="tip"></canvas>
            </td>
        </tr>
        <tr>
            <td>Inactive</td>
            <td id="middlecell">-numberinactive-</td>
        </tr>
        <tr>
            <th id="leftcell">Questionnaires</th>
            <th id="middlecell">-numberoftemplates-</th>
        </tr>
    </table>
</div>