<div class="background">
    <table>
        <tr>
            <th id="leftcell" class=headerleft>Vendors</th>
            <th id="middlecell">-numberofvendors-</th>
            <th id="rightcell" class=headerright>Questionnaire Status</th>
        </tr>
        <tr>
            <th id="leftcell">Users</th>
            <th id="middlecell">-numberofusers-</th>
<!-- Pie chart forked from stabkblitz: https://stackblitz.com/edit/typescript-pie-chart-bfuqbx -->
            <td rowspan="3">
                <canvas class="pieChart"></canvas>        
                <canvas class="tip"></canvas>
            </td>
        </tr>
        <tr>
            <td>Inactive</td>
            <td id="middlecell">-numberinactive-</td>
        </tr>
        <tr>
            <th id="leftcell">Questionnaires</th>
            <th id="middlecell">-numberoftemplates-</th>
        </tr>
    </table>
</div>


    <!-- Vendor View -->
    <!-- <div class="welcomemessage">
        <h1>Welcome to the -customer- third party risk assessment portal</h1>
        <p>Third-party risk management () is important to help mitigate undue risk and excessive costs associated with third-party cyber risks. Establishing a stron TPRM program reduces the negative impact that your company's technology business decisions can have on both your customers. <br>
        Thank you for helping us fulfil our third party risk management obligations.        
        </p>
    </div>
    <div id="companylogo"></div>
    <div class="navbuttons">
        <button class="nav" [routerLink] = "['/questionnaires']">Questionnaires</button> 
        <button class="nav" [routerLink] = "['/uploads']">Uploads</button>
        <button class="nav" [routerLink] = "['/myAds']">Account Settings</button>
    </div> -->