<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="topnav">
    <div class="topnav-right">
      <li><label> My Profile <i class="fa fa-user"></i></label></li>
    </div>
    <h2 class=topnav-left> TPRM</h2>
  </div>
  <div class="wrapper">
    <!-- First level  -->
    <ul class="sidebar">
          <ul class="submenu">
            <li class="nav" [routerLink] = "['/dashboard']"> Dashboard <i class="fa fa-home"></i></li>
            <li class="nav" [routerLink] = "['/questionnaires']"> Questionnaires <i class="fa fa-question"></i></li>
            <li class="nav" [routerLink] = "['/users']"> Users <i class="fa fa-users"></i> </li>
            <li class="nav" [routerLink] = "['/vendors']"> Vendors <i class="fa fa-building"></i></li>
            <li class="nav" [routerLink] = "['/uploads']"> Uploads <i class="fa fa-upload"></i></li>
            <li class="nav" [routerLink] = "['/settings']"> Settings <i class="fa fa-gear"></i></li> 
            <li class="nav" (click)=logout()> Logout <i class="fa fa-sign-out"></i></li> 
          </ul> 
    </ul>
    <main class="page_content">

    </main>
  </div>
</body>
</html>