
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

/* INSERTS */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  color: #f2f2f2;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav label {
  float: left;
  background-color: #333;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

/* Change the color of links on hover */
.topnav label:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  margin-top: -80px;
  position: fixed;
}

.sidebar-top {
  width: 100%;
  height: 80px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
}

.submenu {
  display: none;
  height: 100%;
  width: 200px;
  background-color: #333;
  color: #fff;
}

.wrapper .sidebar-top:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.wrapper .sidebar:hover .submenu {
  display: block;
  position: fixed;
}

.nav-link-buttons:active, .nav-link-buttons-2:active {
	color: white;
	background-color: #6e6366;
	text-decoration: underline;
}

.topnav label:active {
  color: white;
	background-color: #6e6366;
	text-decoration: underline;
}

/* INSERTS */

.wrapper .sidebar ul li{
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

// .wrapper .sidebar ul li{
//   color: #bdb8d7;
//   cursor: pointer;
// }

.wrapper .sidebar ul li:hover{
  background-color: #ddd;
  color: black;
  cursor: pointer;
}
 
.wrapper .submenu-2{
  width: 200px;
  bottom: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #bdb8d7;
}

/* .wrapper .sidebar .sidebar-2 a{
  display: block;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
} */

.wrapper .page_content{
  width: 100%;
}

.wrapper .page_content .header{
  padding: 20px;
  background: #fff;
  color: red;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .page_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .page_content .info div{
  margin-bottom: 20px;
}